h1 {
  color: teal;
}

#container {
  border: 1px solid blue;
  padding: 10px;
  margin: 30px;
  min-width: 800px;
}

.person {
  border: 2px solid black;
  padding: 2px;
}

.clicked {
  border-color: red;
}
#einfo {
  width: 800px;
}

#einfo div {
    display: table;
}
#einfo div div {
    display: inline;
    line-height: 65px;
}

#tableInfo {
  width: 100%;

}
#tableCats{
  text-decoration: underline;
  text-align: left;
}
/*.container input {
    width: 100%;
    clear: both;
}*/
